
h1 {
     text-align: center;
}

p {
     font-family: verdana;
     font-size: 20px;
}
 

#int {
	margin-top: 100px;
	margin-bottom: 50px;
}

#con {
	margin-top: 100px;
	margin-bottom: 50px;
}

#bio{
	 margin-top:100px;
	 margin-bottom: 50px;
}

#heading{
	margin-top: 100px;
}

#a{
	margin-bottom: 50px;
}
.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}



#edu{
	margin-top:100px;
	margin-bottom:50px;
}




